.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.white-block {
  position: absolute;
  height: 40px;
  width: 60%;
  background-color: white;
}
.white-block-left {
  bottom: 0;
  left: -50px;
  transform: skew(45deg);
}
.white-block-right {
  top: 0;
  right: -50px;
  transform: skew(45deg);
}

.btn-special-animation {
  position: relative;
  transition: backround-color 0.3s;
  overflow: hidden;
  z-index: 0;
}
.btn-special-animation::before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s;
  z-index: -1;
}
.btn-special-animation:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

.section-heading {
  position: relative;
  margin-bottom: 2em;
  font-size: 3rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  color: rgb(48, 161, 226);
  letter-spacing: 2px;
}

.section-padding {
  padding: 6em 2em;
}

@media (min-width: 768px) {
  .section-heading {
    font-size: 3.6rem;
  }
  .section-padding {
    padding: 8em 2em;
  }
}
@media (min-width: 768px) {
  .section-heading {
    font-size: 4.8rem;
  }
  .section-padding {
    padding: 10em 2em;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  background-color: white;
}

.burger-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 1em;
  background: none;
  border: 1px solid transparent;
  cursor: pointer;
  z-index: 1000;
}
.burger-btn:focus {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
}
.burger-btn:hover .burger-btn__bars::after,
.burger-btn:hover .burger-btn__bars::before {
  width: 100%;
}
.burger-btn__box {
  position: relative;
  width: 4rem;
  height: 3rem;
}
.burger-btn__bars, .burger-btn__bars::after, .burger-btn__bars::before {
  position: absolute;
  right: 0;
  height: 3px;
  content: "";
  background-color: rgb(48, 161, 226);
  transition: width 0.3s;
}
.burger-btn__bars {
  width: 100%;
}
.burger-btn__bars::after {
  top: 13px;
  width: 60%;
}
.burger-btn__bars::before {
  top: 27px;
  height: 2px;
  width: 30%;
  transition-delay: 0.1s;
}

.nav {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  transform: translate(100%);
  background-image: linear-gradient(-180deg, #15304e, #333255);
  z-index: 100;
  transition: transform 0.5s;
}
.nav--active {
  transform: translate(0);
}
.nav__item {
  position: relative;
  text-align: center;
  width: 15rem;
  margin: 0.5em 0;
  padding: 0.5em 2em;
  color: white;
  text-decoration: none;
  transform: translateX(400%);
}
.nav__item:nth-child(1) {
  animation-delay: 0.1s;
}
.nav__item:nth-child(2) {
  animation-delay: 0.2s;
}
.nav__item:nth-child(3) {
  animation-delay: 0.3s;
}
.nav__item:nth-child(4) {
  animation-delay: 0.4s;
}
.nav__item::before {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  transform: scaleY(0);
  background-color: #efe1d1;
  content: "";
  transition: transform 0.3s;
}
.nav__item:hover::before {
  transform: scale(1);
}

@keyframes navItemsAnimation {
  from {
    transform: translateX(400%);
  }
  to {
    transform: translateX(0);
  }
}
.nav-items-animation {
  animation: navItemsAnimation 2s forwards;
}

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 75vh;
  padding: 2em;
  color: rgb(48, 161, 226);
  background-image: linear-gradient(-180deg, rgba(21, 48, 78, 0.6117647059), rgba(51, 50, 85, 0.7607843137)), url("../img/kitchen-small.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-attachment: scroll;
}
.header__title {
  font-size: 4.6rem;
  text-shadow: 0 0 2px black;
  font-family: "Rubik Mono One", sans-serif;
}
.header__text {
  font-size: 1.4rem;
  font-weight: bold;
}
.header__btn {
  margin-top: 2em;
  padding: 0.8em 1.6em;
  background-color: rgb(48, 161, 226);
  border: none;
  border-radius: 15px;
  text-transform: uppercase;
  text-decoration: none;
  color: #171274;
  font-weight: bold;
}
.header__btn::before {
  background-color: rgb(59, 183, 255);
}

.dreams__box {
  display: flex;
  flex-direction: column;
  margin: 2em 0;
  color: #171274;
}
.dreams__img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.dreams__title {
  font-weight: bold;
  font-size: 2.6rem;
  margin-bottom: 0.5em;
}
.dreams__text {
  font-size: 1.4rem;
}

.hero-img {
  position: relative;
  padding: 10em 2em;
  text-align: center;
  color: rgb(48, 161, 226);
  overflow: hidden;
  background-image: linear-gradient(-180deg, rgba(21, 48, 78, 0.6117647059), rgba(51, 50, 85, 0.7607843137)), url("../img/sidekix-small.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.hero-img__title {
  font-size: 3rem;
  font-weight: bold;
  font-family: "Rubik Mono One", sans-serif;
  text-shadow: 0 0 2px #000;
}
.hero-img__text {
  padding: 1em 0;
}

.towers__cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.towers__card {
  position: relative;
  height: 350px;
  width: 100%;
  margin: 1em 2em;
  text-align: center;
  perspective: 1000px;
}
.towers__card-img {
  background-size: cover;
  background-position: 0;
  height: 100%;
  width: 100%;
  transition: transform 1s;
  border-radius: 15px;
}
.towers__card-img-title {
  padding: 2em 0;
  font-size: 2.4rem;
  font-family: "Rubik Mono One", sans-serif;
  color: #171274;
}
.towers__card-img-info {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
  color: rgb(48, 161, 226);
}
.towers__card-img--first {
  background-image: linear-gradient(-180deg, #4ca0ff, rgba(132, 129, 219, 0)), url("../img/tower1.jpg");
}
.towers__card-img--second {
  background-image: linear-gradient(-180deg, #4ca0ff, rgba(132, 129, 219, 0)), url("../img/tower2.jpg");
}
.towers__card-img--third {
  background-image: linear-gradient(-180deg, #4ca0ff, rgba(132, 129, 219, 0)), url("../img/tower3.jpg");
}
.towers__card-info {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 15px;
  transition: transform 1s;
  background-image: linear-gradient(-180deg, #15304e, #333255);
  opacity: 0;
}
.towers__card-info-title {
  padding: 3em;
  font-family: "Rubik Mono One", sans-serif;
  color: rgb(48, 161, 226);
}
.towers__card-info-list {
  width: 70%;
  margin: 0 auto;
  list-style-type: none;
}
.towers__card-info-list-item {
  color: white;
  padding: 4px 0;
  border-bottom: 1px solid white;
}
.towers__card-info-btn {
  position: absolute;
  bottom: 30px;
  transform: translateX(-50%);
  padding: 0.8em 2em;
  background-color: rgb(48, 161, 226);
  border: none;
  border-radius: 15px;
  color: #171274;
}
.towers__card-info-btn::before {
  background-color: rgb(59, 183, 255);
}
.towers__card:hover .towers__card-img {
  transform: rotateY(-180deg);
  opacity: 1;
}
.towers__card:hover .towers__card-info {
  transform: rotateY(180deg);
  opacity: 1;
}
.towers__card:hover .towers__card-info-title,
.towers__card:hover .towers__card-info-list {
  transform: rotateY(-180deg);
}
.towers__card:hover .towers__card-info-btn {
  transform: rotateY(-180deg) translateX(50%);
}

.offers {
  position: relative;
  overflow: hidden;
  background-image: linear-gradient(-180deg, rgba(21, 48, 78, 0.6117647059), rgba(51, 50, 85, 0.7607843137)), url("../img/opera-small.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.offers__option {
  margin: 1em 0;
  box-shadow: 5px 5px 10px rgba(46, 46, 46, 0.8784313725);
  overflow: hidden;
  -webkit-backdrop-filter: invert(30%);
          backdrop-filter: invert(30%);
}
.offers__option-img {
  width: 100%;
  transition: transform 0.3s;
}
.offers__option-img:hover {
  transform: scale(1.1);
}
.offers__option-info {
  padding: 2em;
  color: #171274;
}
.offers__option-heading {
  margin-bottom: 0.5em;
}
.offers__option-text {
  margin-bottom: 0.5em;
  font-size: 1.73rem;
}
.offers__option-btn {
  width: 100%;
  margin-top: 1em;
  padding: 0.8em;
  color: #171274;
  background-color: rgb(48, 161, 226);
  border: none;
  border-radius: 15px;
  cursor: pointer;
}
.offers__option-btn::before {
  background-color: rgb(59, 183, 255);
}

@media (max-width: 767px) {
  .reviews.section-padding {
    padding: 6em 0;
  }
}
.reviews__box {
  position: relative;
  margin: 2em;
  padding: 2em;
  border-radius: 8px;
  box-shadow: 3px 3px 10px black;
  transition: transform 0.3s;
}
.reviews__box:hover {
  transform: scale(0.9);
}
.reviews__box-img {
  position: absolute;
  top: 4%;
  left: 75%;
  transform: translate(-50%, -50%);
}
.reviews__box-img img {
  width: 80px;
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.reviews__box-quote {
  margin-bottom: 1em;
  font-size: 3rem;
  color: rgb(48, 161, 226);
}
.reviews__box-text {
  margin-bottom: 1em;
  color: #171274;
}
.reviews strong {
  color: #171274;
}

@media (min-width: 576px) {
  .dreams__box {
    flex-direction: row;
    justify-content: space-between;
  }
  .dreams__box-text {
    width: 55%;
  }
  .dreams__box-text--right {
    text-align: right;
    width: 55%;
  }
  .dreams__box-img {
    width: 40%;
  }
  .dreams__box-img--right {
    order: 1;
  }
  .dreams__img {
    margin-bottom: 0;
    max-height: 300px;
  }
  .offers__option {
    display: flex;
    margin: 2em 0;
    width: 100%;
  }
  .offers__option-img {
    width: 50%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .offers__option-img--right {
    order: 1;
  }
  .offers__option-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .offers__option-heading {
    margin-bottom: 0.5em;
    font-size: 3.6rem;
  }
}
@media (min-width: 768px) {
  .white-block {
    width: 50%;
  }
  .header__title {
    font-size: 6.6rem;
  }
  .header__text {
    font-size: 2.2rem;
    font-weight: bold;
  }
  .dreams__text {
    font-size: 1.8rem;
  }
  .hero-img {
    padding: 30rem 2em;
    background-image: linear-gradient(-180deg, rgba(21, 48, 78, 0.6117647059), rgba(51, 50, 85, 0.7607843137)), url("../img/sidekix-big.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  .hero-img hr {
    margin: 0 auto;
    width: 70%;
  }
  .hero-img__title {
    font-size: 6rem;
  }
  .hero-img__text {
    font-size: 4rem;
  }
}
@media (min-width: 992px) {
  .burger-btn {
    top: 40px;
    right: 40px;
  }
  .header {
    background-image: linear-gradient(-180deg, rgba(21, 48, 78, 0.6117647059), rgba(51, 50, 85, 0.7607843137)), url("../img/kitchen-big.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-attachment: scroll;
  }
  .nav__item {
    font-size: 4.8rem;
  }
  .dreams__box {
    margin: 5em 0;
  }
  .dreams__box-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .dreams__box-text--right {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .dreams__title {
    font-size: 3.6rem;
  }
  .towers__cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .towers__card {
    width: 40%;
  }
  .offers {
    background-image: linear-gradient(-180deg, #15304e, #333255), "../img/opera-big.jpg";
  }
  .offers__option-img {
    height: 300px;
  }
}
@media (min-width: 1200px) {
  .towers__cards {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}/*# sourceMappingURL=main.css.map */