@use "./colors" as *;
@use "./components";
@use "./mixins" as *;

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: "Open Sans", sans-serif;
	font-size: 1.6rem;
	background-color: $main-background-color;
}

.black-bars-color,
.black-bars-color::after,
.black-bars-color::before {
	background-color: $secondary-color;
}

//NAV

.burger-btn {
	position: fixed;
	top: 20px;
	right: 20px;
	padding: 1em;
	background: none;
	border: 1px solid transparent;
	cursor: pointer;
	z-index: 1000;

	&:focus {
		border: 1px solid rgba(255, 255, 255, 0.5);
		border-radius: 8px;
	}

	&:hover {
		.burger-btn__bars::after,
		.burger-btn__bars::before {
			width: 100%;
		}
	}

	&__box {
		position: relative;
		width: 4rem;
		height: 3rem;
	}

	&__bars,
	&__bars::after,
	&__bars::before {
		@include burgerBtn;
	}

	&__bars {
		width: 100%;

		&::after {
			top: 13px;
			width: 60%;
		}

		&::before {
			top: 27px;
			height: 2px;
			width: 30%;
			transition-delay: 0.1s;
		}
	}
}

.nav {
	position: fixed;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
	transform: translate(100%);
	background-image: $navi-gradient-solid;
	z-index: 100;
	transition: transform 0.5s;

	&--active {
		transform: translate(0);
	}

	&__item {
		position: relative;
		text-align: center;
		width: 15rem;
		margin: 0.5em 0;
		padding: 0.5em 2em;
		color: white;
		text-decoration: none;
		transform: translateX(400%);

		&:nth-child(1) {
			animation-delay: 0.1s;
		}
		&:nth-child(2) {
			animation-delay: 0.2s;
		}
		&:nth-child(3) {
			animation-delay: 0.3s;
		}
		&:nth-child(4) {
			animation-delay: 0.4s;
		}

		&::before {
			position: absolute;
			display: block;
			top: 0;
			left: 0;
			width: 3px;
			height: 100%;
			transform: scaleY(0);
			background-color: $pure-white;
			content: "";
			transition: transform 0.3s;
		}

		&:hover::before {
			transform: scale(1);
		}
	}
}

@keyframes navItemsAnimation {
	from {
		transform: translateX(400%);
	}

	to {
		transform: translateX(0);
	}
}

.nav-items-animation {
	animation: navItemsAnimation 2s forwards;
}

//HEADER

.header {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 75vh;
	padding: 2em;
	color: $main-color;
	@include heroImages("../img/kitchen-small.jpg");
	background-attachment: scroll;

	&__title {
		font-size: 4.6rem;
		text-shadow: 0 0 2px black;
		font-family: "Rubik Mono One", sans-serif;
	}

	&__text {
		font-size: 1.4rem;
		font-weight: bold;
	}

	&__btn {
		margin-top: 2em;
		padding: 0.8em 1.6em;
		background-color: $main-color;
		border: none;
		border-radius: 15px;
		text-transform: uppercase;
		text-decoration: none;
		color: $secondary-color;
		font-weight: bold;

		&::before {
			background-color: $tertiary-color;
		}
	}
}

//MAIN
//DREAMS SECTION

.dreams {
	&__box {
		display: flex;
		flex-direction: column;
		margin: 2em 0;
		color: $secondary-color;
	}

	&__img {
		width: 100%;

		object-fit: cover;
	}

	&__title {
		font-weight: bold;
		font-size: 2.6rem;
		margin-bottom: 0.5em;
	}

	&__text {
		font-size: 1.4rem;
	}
}

//HERO-IMG

.hero-img {
	position: relative;
	padding: 10em 2em;
	text-align: center;
	color: $main-color;
	overflow: hidden;

	@include heroImages("../img/sidekix-small.jpg");

	&__title {
		font-size: 3rem;
		font-weight: bold;
		font-family: "Rubik Mono One", sans-serif;
		text-shadow: 0 0 2px #000;
	}

	&__text {
		padding: 1em 0;
	}
}

//TOWERS-CARD

.towers {
	&__cards {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__card {
		position: relative;
		height: 350px;
		width: 100%;
		margin: 1em 2em;
		text-align: center;

		perspective: 1000px;

		&-img {
			background-size: cover;
			background-position: 0;
			height: 100%;
			width: 100%;
			transition: transform 1s;
			border-radius: 15px;

			&-title {
				padding: 2em 0;
				font-size: 2.4rem;
				font-family: "Rubik Mono One", sans-serif;
				color: $secondary-color;
			}

			&-info {
				position: absolute;
				bottom: 30px;
				left: 50%;
				transform: translateX(-50%);
				font-weight: bold;
				color: $main-color;
			}

			&--first {
				background-image: $light-gradient, url("../img/tower1.jpg");
			}
			&--second {
				background-image: $light-gradient, url("../img/tower2.jpg");
			}
			&--third {
				background-image: $light-gradient, url("../img/tower3.jpg");
			}
		}

		&-info {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			border-radius: 15px;
			transition: transform 1s;
			background-image: $navi-gradient-solid;
			opacity: 0;

			&-title {
				padding: 3em;
				font-family: "Rubik Mono One", sans-serif;
				color: $main-color;
			}

			&-list {
				width: 70%;
				margin: 0 auto;
				list-style-type: none;

				&-item {
					color: white;
					padding: 4px 0;
					border-bottom: 1px solid white;
				}
			}

			&-btn {
				position: absolute;
				bottom: 30px;
				transform: translateX(-50%);
				padding: 0.8em 2em;
				background-color: $main-color;
				border: none;
				border-radius: 15px;
				color: $secondary-color;

				&::before {
					background-color: $tertiary-color;
				}
			}
		}

		&:hover {
			.towers__card-img {
				transform: rotateY(-180deg);
				opacity: 1;
			}

			.towers__card-info {
				transform: rotateY(180deg);
				opacity: 1;
			}
			.towers__card-info-title,
			.towers__card-info-list {
				transform: rotateY(-180deg);
			}
			.towers__card-info-btn {
				transform: rotateY(-180deg) translateX(50%);
			}
		}
	}
}

//OFFERS

.offers {
	position: relative;
	overflow: hidden;

	@include heroImages("../img/opera-small.jpg");

	&__option {
		margin: 1em 0;
		box-shadow: 5px 5px 10px #2e2e2ee0;
		overflow: hidden;
		// background-color: $secondary-color;
		backdrop-filter: invert(30%);

		&-img {
			width: 100%;
			transition: transform 0.3s;

			&:hover {
				transform: scale(1.1);
			}
		}

		&-info {
			padding: 2em;
			color: $secondary-color;
		}

		&-heading {
			margin-bottom: 0.5em;
		}
		&-text {
			margin-bottom: 0.5em;
			font-size: 1.73rem;
		}

		&-btn {
			width: 100%;
			margin-top: 1em;
			padding: 0.8em;
			color: $secondary-color;
			background-color: $main-color;
			border: none;
			border-radius: 15px;
			cursor: pointer;

			&::before {
				background-color: $tertiary-color;
			}
		}
	}
}

.contact {
	position: relative;
	background-image: $navi-gradient-solid;
	overflow: hidden;

	&__form,
	&__form-top {
		display: flex;
		flex-direction: column;
	}

	&__form-label {
		margin-bottom: 0.5em;
		text-transform: uppercase;
		color: $main-color;
		font-size: 2rem;
	}

	&__form-input {
		@include contactForm;
	}
	&__form-textarea {
		@include contactForm;
		max-width: 100%;
	}

	.white-block-left {
		background-color: $dark;
	}

	&__form-btn {
		width: 100%;
		max-width: 300px;
		padding: 1em;
		background-color: $main-color;
		border: none;
		border-radius: 8px;
		cursor: pointer;
		color: $secondary-color;

		&::before {
			background-color: $tertiary-color;
		}
	}
}

@media (max-width: 767px) {
	.reviews.section-padding {
		padding: 6em 0;
	}
}

.reviews {
	&__box {
		position: relative;
		margin: 2em;
		padding: 2em;
		border-radius: 8px;
		box-shadow: 3px 3px 10px black;
		transition: transform 0.3s;

		&:hover {
			transform: scale(0.9);
		}
	}

	&__box-img {
		position: absolute;
		top: 4%;
		left: 75%;
		transform: translate(-50%, -50%);

		img {
			width: 80px;
			height: 80px;
			object-fit: cover;
			border-radius: 50%;
		}
	}

	&__box-quote {
		margin-bottom: 1em;
		font-size: 3rem;
		color: $main-color;
	}

	&__box-text {
		margin-bottom: 1em;
		color: $secondary-color;
	}

	strong {
		color: $secondary-color;
	}
}

//FOOTER

.footer {
	background-color: $dark;
	color: white;
	.wrapper {
		padding: 6em 2em 2em;
	}

	&__box {
		font-size: 1.4rem;
	}

	&__box-desktop {
		display: none;
	}

	&__box-title {
		margin-bottom: 1em;
		font-size: 3rem;
		text-transform: uppercase;
		color: $main-color;
	}

	&__box-social {
		margin: 2em 0 1em;
	}

	&__box-link {
		padding: 0 0.3em;
		font-size: 3.6rem;
		color: white;
		text-decoration: none;
		transition: color 0.3s;

		&:nth-child(1) {
			padding-left: 0;
		}

		&:hover {
			color: $main-color;
		}
	}

	&__bottom-text {
		padding: 2em;
		text-align: center;
	}
}

@media (min-width: 576px) {
	.dreams {
		&__box {
			flex-direction: row;
			justify-content: space-between;
		}

		&__box-text {
			width: 55%;

			&--right {
				text-align: right;
				width: 55%;
			}
		}

		&__box-img {
			width: 40%;

			&--right {
				order: 1;
			}
		}

		&__img {
			margin-bottom: 0;
			max-height: 300px;
		}
	}

	.offers {
		&__option {
			display: flex;
			margin: 2em 0;
			width: 100%;

			&-img {
				width: 50%;
				height: auto;
				object-fit: cover;

				&--right {
					order: 1;
				}
			}

			&-info {
				display: flex;
				flex-direction: column;
				justify-content: space-around;
			}

			&-heading {
				margin-bottom: 0.5em;
				font-size: 3.6rem;
			}
		}
	}
}

@media (min-width: 768px) {
	.white-block {
		width: 50%;
	}

	.header {
		&__title {
			font-size: 6.6rem;
		}

		&__text {
			font-size: 2.2rem;
			font-weight: bold;
		}
	}

	.dreams {
		&__text {
			font-size: 1.8rem;
		}
	}

	.hero-img {
		padding: 30rem 2em;
		@include heroImages("../img/sidekix-big.jpg");

		hr {
			margin: 0 auto;
			width: 70%;
		}

		&__title {
			font-size: 6rem;
		}

		&__text {
			font-size: 4rem;
		}
	}

	.contact {
		&__form-btn {
			align-self: flex-end;
		}
	}

	.footer {
		&__boxes {
			display: flex;
			justify-content: space-between;
		}

		&__box {
			width: 25%;

			&:first-child {
				width: 50%;
			}
		}

		&__box-desktop {
			display: block;
			margin: 0 2em;
			text-align: right;
		}

		&__box-list {
			list-style-type: none;

			&-item {
				margin-bottom: 0.8em;
			}

			a {
				color: white;
				text-decoration: none;

				&:hover {
					color: $main-color;
				}
			}
		}
	}
}

@media (min-width: 992px) {
	.burger-btn {
		top: 40px;
		right: 40px;
	}
	.header {
		@include heroImages("../img/kitchen-big.jpg");
		background-attachment: scroll;
	}

	.nav {
		&__item {
			font-size: 4.8rem;
		}
	}

	.dreams {
		&__box {
			margin: 5em 0;
		}

		&__box-text {
			display: flex;
			flex-direction: column;
			justify-content: flex-end;

			&--right {
				display: flex;
				flex-direction: column;
				justify-content: flex-end;
			}
		}

		&__title {
			font-size: 3.6rem;
		}
	}

	.towers {
		&__cards {
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
		}

		&__card {
			width: 40%;
		}
	}

	.offers {
		background-image: $navi-gradient-solid, ("../img/opera-big.jpg");

		&__option {
			&-img {
				height: 300px;
			}
		}
	}
}

@media (min-width: 1200px) {
	.towers {
		&__cards {
			flex-direction: row;
			flex-wrap: nowrap;
		}
	}
}
